@model CP.AnnualReviews.Models.TblAnnualReviewCompetency

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblAnnualReviewCompetency</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetencyNumber" class="control-label"></label>
                <input asp-for="CompetencyNumber" class="form-control" />
                <span asp-validation-for="CompetencyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetencyText" class="control-label"></label>
                <input asp-for="CompetencyText" class="form-control" />
                <span asp-validation-for="CompetencyText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetencyDescription" class="control-label"></label>
                <input asp-for="CompetencyDescription" class="form-control" />
                <span asp-validation-for="CompetencyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
