@model CP.AnnualReviews.Models.TblResumeClearance

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblResumeClearance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResumeId" class="control-label"></label>
                <input asp-for="ResumeId" class="form-control" />
                <span asp-validation-for="ResumeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clearance" class="control-label"></label>
                <input asp-for="Clearance" class="form-control" />
                <span asp-validation-for="Clearance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuedBy" class="control-label"></label>
                <input asp-for="IssuedBy" class="form-control" />
                <span asp-validation-for="IssuedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestigationType" class="control-label"></label>
                <input asp-for="InvestigationType" class="form-control" />
                <span asp-validation-for="InvestigationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramAccess" class="control-label"></label>
                <input asp-for="ProgramAccess" class="form-control" />
                <span asp-validation-for="ProgramAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInvestigations" class="control-label"></label>
                <input asp-for="AdditionalInvestigations" class="form-control" />
                <span asp-validation-for="AdditionalInvestigations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
