@model CP.AnnualReviews.Models.TblResume

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblResume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ResourceId" class="control-label"></label>
                <input asp-for="ResourceId" class="form-control" />
                <span asp-validation-for="ResourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <input asp-for="Overview" class="form-control" />
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeStatusId" class="control-label"></label>
                <input asp-for="ResumeStatusId" class="form-control" />
                <span asp-validation-for="ResumeStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeName" class="control-label"></label>
                <input asp-for="ResumeName" class="form-control" />
                <span asp-validation-for="ResumeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewedByManager" class="control-label"></label>
                <input asp-for="ReviewedByManager" class="form-control" />
                <span asp-validation-for="ReviewedByManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
